<div class="notes-component">
  <div class="notes-component__item">
    <div class="notes-component__name">Note Name</div>
    <div class="notes-component__content">
      Lorem ipsum nos q nose cuantos es 
      Lorem ipsum nos q nose cuantos es
      Lorem ipsum nos q nose cuantos es
    </div>
  </div>
  <div class="notes-component__item">
    <div class="notes-component__name">Note Name</div>
    <div class="notes-component__content">
      Lorem ipsum nos q nose cuantos es 
      Lorem ipsum nos q nose cuantos es
      Lorem ipsum nos q nose cuantos es
    </div>
  </div>
  <div class="notes-component__item">
    <div class="notes-component__name">Note Name</div>
    <div class="notes-component__content">
      Lorem ipsum nos q nose cuantos es 
      Lorem ipsum nos q nose cuantos es
      Lorem ipsum nos q nose cuantos es
      Lorem ipsum nos q nose 
      Lorem ipsum nos q nose cuantos es
      Lorem ipsum nos q nose 
      Lorem ipsum nos q nose cuantos es
      Lorem ipsum nos q nose cuantos es
      Lorem ipsum nos q nose cuantos es
    </div>
  </div>
  <div class="notes-component__item">
    <div class="notes-component__name">Note Name</div>
    <div class="notes-component__content">
      Lorem ipsum nos q nose cuantos es 
      Lorem ipsum nos q nose cuantos es
      Lorem ipsum nos q nose cuantos es
    </div>
  </div>
  <div class="notes-component__item">
    <div class="notes-component__name">Note Name</div>
    <div class="notes-component__content">
      Lorem ipsum nos q nose cuantos es 
      Lorem ipsum nos q nose cuantos es
      Lorem ipsum nos q nose cuantos es
    </div>
  </div>
  <div class="notes-component__item">
    <div class="notes-component__name">Note Name</div>
    <div class="notes-component__content">
      Lorem ipsum nos q nose cuantos es 
      Lorem ipsum nos q nose cuantos es
      Lorem ipsum nos q nose cuantos es
    </div>
  </div>
</div>
